script
    |document.querySelectorAll('pre code').forEach((block) => {
    |    hljs.highlightBlock(block);
    |});

div
    a.btn.btn-secondary.float-right(href=`add-solution?question=${question}`) Add solution
    .clearfix
    br
-if(answers.length<1)
    div.text-center No solutions yet
-for(var i=0;i<answers.length;++i)
    .card
        .card-body
            a(href=`/profile/${answers[i].user}`) By #{answers[i].user}
            pre
                code #{answers[i].code}
            b Descreption
            p   #{answers[i].descreption}
    br



